check validity of vcard files (CARDDAV:valid-address-data)

xandikos should prevent invalid vcard files from being uploaded, and signal that the precondition CARDDAV:valid-address-data failed.

See RFC6352, section 6.3.2.1

(reported by vdirsyncer's TestCardDAVStorage.test_dav_broken_item test)

BTW, similar thing should happen for CalDAV.

For CalDAV this should already be the case (for CALDAV:valid-calendar-data). Xandikos currently doesn't actually parse vcf files.

I see, I missed that.

Just tried to make a PR for this, but I got very confused by the class hierarchies. Why are there multiple classes called `Collection` and a `StoreBased`-mixin instead of the ability to pass a `Store` into an only class called `Collection`? Which part of your system is responsible for validating calendar files? It seems you dispatch by content-type in `Store`, but validating the content-type itself seems to happen somewhere else.

notes/structure.txt has a very basic description of the distinction. It probably needs to be extended and updated to deal with the fact that stores know about different file types now.

Basically, what you'd want is to create something akin to icalendar.py for vcard files. Then call store.load_extra_file_handler(VCardFile) in xandikos.web.open_store_from_path.

Thanks, merged #28. I'll keep this open, until we do less rudimentary checking of VCard files (ideally using an external library?)