compatibility tests using python-server-tester

Around six months delayed, I've released the caldav client library version 2.1 and version 0.1 of my caldav-server-tester project - so it should now be possible to utilize the compability tester in the Xandikos test suite.  I think it's nice as it may prevent compatibility regression issues.  It may also uncover other compatibility issues in future releases of the caldav-server-tester ... which may be nice or an annoyance, dependent on your point of view :-)

To call the caldav-server-tester from the Xandikos test suite, it's needed to:

* add the caldav-server-tester and caldav to the test dependencies of the project
* construct a `client` instance of the `caldav.davclient.DAVClient` class that can talk with the calendar system. This either means:
  * Starting up a Xandikos server on localhost
  * Mock up the `client.request`-method so it will call on the appropriate xandikos methods without having to go via IP.
 
The actual test code would look something like this (see also `testCheckCompatibility` in `caldav/tests/test_caldav.py`):

```python
from caldav_server_tester import ServerQuirkChecker
checker = ServerQuirkChecker(self.caldav, debug_mode='assert')
checker.check_all()
observed = checker.features_checked.dotted_feature_set_list(compact=True)
expected = ...
assert(observed == expected)
```

The testCheckCompatibility in the caldav project also has quite some logic to smoothen out minor deviations between the observed and the expected, not sure if the Xandikos project would need something like that.

If you want me to, I may try to write a pull request for this test, but possibly I may need some help with it.

For Xandikos 0.2.12 the expected should have looked like this:

```json
{
    "search.recurrences.includes-implicit": {"support": "unsupported"},
    "search.recurrences.expanded": {"support": "unsupported"},
    "search.time-range.todo": {"support": "unsupported"},
    "search.comp-type-optional": {"support": "ungraceful"},
    "search.category.fullstring": {"support": "unsupported"},
}
```

Lots of work was put down in Xandikos during the summer, but not released yet.  With the master branch things look like this:

```json
{
    "search.comp-type-optional": {"support": "unsupported"},
    "search.category.fullstring": {"support": "unsupported"},
    "search.recurrences.includes-implicit.todo.pending": {"support": "unsupported"},
    "search.recurrences.expanded.todo": {"support": "unsupported"},
    "search.recurrences.expanded.exception": {"support": "unsupported"},
}
```

The `search.comp-type-optional` feature means that when doing a `REPORT` query for events without specifying a component type filter, the server should return both events, tasks and journals.  All examples in RFC4791 includes things like `<C:comp-filter name="VEVENT">` when doing searches, but the RFC does not say explicitly that it's mandatory.  I think 0.2.12 was throwing some error, while the master version is returning no data.  Is this important?  Probably not - quite many servers refuses to return any data unless comp-type filter in all searches.  My caldav library has a workaround.  It is still a breach of RFC4791, at least the way I choose to interpret RFC4791 :-)

The `search.category.fullstring-feature` holds true if an event with `CATEGORIES:foo,bar,zoo` will be returned when doing a search for `foo,bar,zoo`.  Is it important?  Not at all.  As I read RFC5545 an event with CATEGORIES:bar,zoo,foo should be considered to be equivalent, so there is not much point to search explicitly for events having `CATEGORIES:foo,bar,zoo` - but I still think that this should be supported if one is to claim 100% RFC4792-complience.

`search.recurrences.includes-implicit.todo.pending` ... this seems like a weird bug. Say that we have a yearly recurring todo set for 2024 with `STATUS:NEEDS-ACTION`:

 * A query asking for tasks for 2025, and the task will be returned as it should.
 * A query for tasks for 2024 with status `NEEDS-ACTION` and the task will be returned as it should.
 * A query for tasks for 2025 with status `NEEDS-ACTION`, and the event will not be returned.

Is it important?  Maybe.  I've written a workaround in the caldav library, so for me it's unimportant.  I may write up a separate issue on this if there is a wish for it.

According to RFC 4791, the server MUST expand recurrence objects if asked for it.  This seems to be implemented now for events, but not for tasks, and the support seems to be buggy in case of events with exceptions (an event having a separate `VEVENT` with same `UID` and a `RECURRENCE-ID`)

Is it important?  Not at all.  Quite many servers does not bother to do server-side expansion.  I don't know of any clients doing it nowadays.  The caldav library is now by default doing all expansion client-side.  Still, if one is to claim 100% compliance with RFC4791 I suppose it's important to get those details right.

I also have an old list of compability issues that may or may not be valid, but I haven't implemented support for it in my caldav-server-tester yet.
