support for CALDAV:limit-recurrence-set in CALDAV:calendar-data

Xandikos currently does not support the CALDAV:limit-recurrence-set element in CALDAV:calendar-data elements during e.g. calendar-query REPORTs.

This is documented in RFC4791, section 9.6.6.