addressbook-multiget Depth: 0 vs 1

Hi,

Pretty sure this is an RFC issue rather than a Xandikos one, but oh well.
[RFC 6352 §8.7](https://www.rfc-editor.org/info/rfc6352/#section-8.7) states that (for addressbook-multiget requests):
> The request MUST include a Depth: 0 header;

However, it is followed by 2 examples, both of them include `Depth: 1`. Now, should the text or the example be followed?
- Xandikos (in strict mode) [requires Depth: 0](https://github.com/jelmer/xandikos/blob/f5c45d35bdaa213612932043ee6d537eca60f2a7/xandikos/carddav.py#L114).
- Pimsync [sends Depth: 1](https://git.sr.ht/~whynothugo/libdav/tree/main/item/src/carddav/get_addressbook_resources.rs#L91).

I initially thought the MUST took precedence and [reported the issue to pimsync](https://todo.sr.ht/~whynothugo/pimsync/249) but I now found [this report on RFC Errata (EID 4610)](https://errata.rfc-editor.org/eid4610/) pushing for `Depth: 1`.

I would understand if this is a won't fix, but I thought the issue was worth bringing up.

Thanks for the amazing software!